@model SidebarItemViewModel
@{
    var location = @Model.SidebarItemLocation.ToString().ToLower();
}
<div class="row sidebar-item-@location">
    @if (Model.SidebarItemLocation != SidebarItemLocationEnum.Spacer)
    {
        <a class="column sidebar-item-link" href="/@Model.Title" title="@Model.Title">
            @if (Model.Icon is Asset icon)
            {
                <img src=" @icon.Url" asp-append-version="true" />
            }
        </a>
    }
</div>