@model IEnumerable<AnnouncementViewModel>

@if (Model.Any())
{
    foreach (var announcement in Model)
    {
        var level = announcement.Level.ToString().ToLower();
        var type = announcement.Location.ToString().ToLower();

        <div class="row announcement-@type alert-@level">
            <span class="h4 colon-after">@announcement.Title</span>
            <span class="h5 rich-text">@Html.DisplayFor(_ => announcement.Body)</span>
            <button type="button" class="button-close">X</button>
        </div>
    }
}