@model IEnumerable<SidebarItemViewModel>
@{
    List<SidebarItemViewModel> topItems = new List<SidebarItemViewModel>();
    SidebarItemViewModel spacer = null;
    List<SidebarItemViewModel> bottomItems = new List<SidebarItemViewModel>();

    foreach (var item in Model)
    {
        switch (item.SidebarItemLocation)
        {
            case SidebarItemLocationEnum.Top:
                topItems.Add(item);
                continue;
            case SidebarItemLocationEnum.Spacer:
                spacer = item;
                continue;
            case SidebarItemLocationEnum.Bottom:
                bottomItems.Add(item);
                continue;
        }
    }
}
<div id="sidebar" class="column">
    @Html.DisplayFor(_ => topItems)
    @Html.DisplayFor(_ => spacer)
    @Html.DisplayFor(_ => bottomItems)
</div>