@model SiteViewModel
@{
    ViewData["Title"] = "Home";
}

@section Scripts {
}

<div class="row">
    <div class="col-md-3">
        <h2>Application</h2>
        <ul>
            <li>@Html.DisplayFor(vm => vm.Announcement)</li>
            <li>@Html.DisplayFor(vm => vm.Sidebar)</li>
            <li>

                @Html.React("ExampleComponent", Model)
                


            </li>
        </ul>
    </div>
</div>
