<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VERSUS</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/versus.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/temp.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/versus.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="container-fluid d-flex flex-column body-content">

        @* Primary announcements row *@
        <div class="row announcements-primary">
            <div class="col">
                @await Component.InvokeAsync(nameof(Announcement), AnnouncementTypeEnum.Top)
                @await Component.InvokeAsync(nameof(CookieConsent))
            </div>
        </div>

        @* Main content row *@
        <div class="row main-content">
            @await Component.InvokeAsync(nameof(Navigation))
            @RenderBody()
        </div>

        @* Secondary announcements row *@
        <div class="row announcements-secondary">
            <div class="col">
                @await Component.InvokeAsync(nameof(Announcement), AnnouncementTypeEnum.Bottom)
            </div>
        </div>
    </div>

    @* Leave these scripts at the end to not block the response *@
    <environment include="Development">
        @* versus.js already includes all libraries *@
        <script src="~/js/versus.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/versus.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @Html.ReactInitJavaScript()
</body>
</html>